.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  max-width: max-content;

  input {
    display: none;
  }

  .label {
    margin-left: 0.5rem;
    display: inline-block;
    user-select: none;

    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-white);
  }

  .custom {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    background-color: transparent;
    border-radius: 0.3125rem;
    transition: background-color 0.2s;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);

    flex-shrink: 0;

    &.checked {
      background-color: var(--primary-color);
    }

    .icon {
      color: var(--color-black);
    }
  }
}
