.modal__balance {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  max-width: 500px !important;
  width: 100% !important;
  height: max-content !important;
  min-height: max-content !important;

  border-radius: 0.75rem;

  .modal__header {
    padding-top: 1rem;
  }

  .modal__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.75rem 1rem;

    p {
      font-size: 1rem;
      font-weight: 400;
      color: var(--color-gray-20);
    }
  }

  .modal__footer {
    border-top: none;
    padding-bottom: 1rem;
  }
}
