.input__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-white);
  }

  .input__wrapper {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;

    border-radius: 0.5rem;
    border: 1px solid var(--second-color);
    background-color: var(--color-black-100);

    transition: all 0.2s ease-in-out;

    &:focus-within {
      border-color: var(--primary-color);
    }

    .input__field {
      flex: 1;
      padding: 0.6875rem 1rem;
      outline: none;

      border: none;
      background: transparent;
      border-radius: 0.5rem;

      border: none;
      background: transparent;
      border-radius: 0.5rem;

      font-size: 0.875rem;
      font-weight: 400;
      color: var(--color-white);

      transition: border-color 0.2s ease;

      &::placeholder {
        color: var(--color-gray-40);
      }

      &:focus-visible {
        border-color: var(--primary-color);
      }
    }

    .icon {
      cursor: pointer;

      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 1rem;
      margin-top: 0.1875rem;
    }
  }

  .error__text {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--error);
  }
}
