.dialog {
  max-width: 500px !important;
  width: 100%;
  padding: 1.5rem;

  background-color: var(--color-black-100);

  @media (max-width: 568px) {
    max-width: calc(100% - 2rem) !important;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      margin-bottom: 1rem;

      strong {
        font-size: 1.25rem;
        font-weight: 700;
        color: var(--color-white);
      }

      .icon__close {
        cursor: pointer;
        flex-shrink: 0;
      }
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      color: var(--color-gray-20);
    }

    .actions {
      margin-left: auto;
      margin-top: 1.25rem;

      display: flex;
      align-items: center;
      gap: 0.75rem;

      .button {
        padding: 0.8125rem 1.5rem;
        height: 32px;
        width: max-content;
        margin-top: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 0.875rem;
        font-weight: 400;
        color: var(--color-black-60);

        border-radius: 0.5rem;
        border: 1px solid #ececee;
        background-color: var(--color-white);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);

        transition: all 0.2s ease;

        &:hover {
          background-color: var(--color-white-80);
        }

        &.continue {
          background-color: #b3261e;
          border-color: #b3261e;
          color: var(--color-white);

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
