.table__wrapper {
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;

  .table__data {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 1rem;
    overflow: visible;

    @media (max-width: 968px) {
      width: 1000px;
    }

    tr {
      th {
        padding: 1rem;
        font-size: 0.875rem;
        font-weight: 400;
        text-align: left;
        color: var(--color-white);

        // border-bottom: 1px solid var(--second-color);
        background-color: var(--color-black-80);
      }

      th:first-child {
        border-top-left-radius: 0.5rem;
      }

      th:last-child {
        border-top-right-radius: 0.5rem;
      }

      th:not(:first-child) {
        border-left: none;
      }

      th:not(:last-child) {
        border-right: none;
      }
    }

    tbody {
      tr {
        transition: background 0.3s ease;

        &:hover {
          background: var(--color-black-80);
        }

        .td__actions {
          display: flex;
          align-items: center;
          gap: 1rem;

          .button {
            display: flex;
            align-items: center;
            justify-content: center;

            border: none;
            background-color: transparent;

            svg {
              flex-shrink: 0;
            }
          }
        }

        &:last-child td {
          border-bottom: none;
        }

        td {
          padding: 0.75rem 1rem;
          font-size: 0.75rem;
          font-weight: 400;

          border: none;
          border-bottom: 1px solid var(--color-black-80);

          .payment__status {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .dot {
              display: inline-block;
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background-color: currentColor;
            }

            &.deposit {
              color: var(--primary-color);
            }

            &.expense {
              color: var(--error);
            }
          }
        }

        tr:last-child td {
          border-bottom: none; // tira última linha
        }

        th:last-child,
        td:last-child {
          border-right: none; // tira borda do final
        }
      }
    }
  }
}
