.modal__filter__container {
  position: absolute;
  top: 100%;
  right: 0;

  width: 400px;
  height: max-content;

  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-black-100);
  z-index: 9999;

  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @media (max-width: 468px) {
    width: 300px;
  }

  .modal__filter__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    strong {
      font-size: 1rem;
      font-weight: 600;
    }

    button {
      border: none;
      background-color: transparent;

      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        flex-shrink: 0;
      }
    }
  }

  .filters__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .modal__filter__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
}
