.card__spending__category__container {
  border-radius: 1.25rem;
  border: 1px solid var(--second-color);
  padding: 1.5rem 1.25rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  flex: 1;
  min-height: 500px;

  .sub__header {
    border-bottom: 1px solid var(--second-color);
    padding-bottom: 1.5rem;

    p {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  .bars__progress {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
