.button__container {
  position: relative;

  .button {
    background-color: var(--color-black-60);
  }

  .calendar__container {
    position: absolute;
    top: 120%;
    left: 0;
    width: 300px;
    height: max-content;
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 1000;

    background-color: var(--color-black-80);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    transition: all 0.3s ease;

    animation: dropIn 0.3s ease;

    .select__custom {
      width: 100%;

      background-color: var(--color-gray);

      padding: 0.5rem;
      border-radius: 0.5rem;

      font-size: 0.875rem;
      color: var(--color-white);
    }
  }
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
