.pagination__wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  @media (max-width: 468px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .text {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-white-80);
  }

  .pagination__container {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }

    .page__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      padding: 0.5rem;
      border-radius: 0.5rem;

      cursor: pointer;
      transition: all 0.2s ease;

      &:hover:not(.active__page) {
        background-color: transparent;
      }

      a {
        padding: 0.5rem;
      }
    }

    .active__page {
      background-color: var(--primary-color);
      color: var(--color-white);
    }

    .button {
      padding: 0.625rem 0.8125rem;
      border-radius: 0.5rem;
      border: none;
      background-color: transparent;

      cursor: pointer;
      transition: all 0.2s ease;

      svg {
        color: var(--color-white);
      }

      &:hover {
        background-color: transparent;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;

        svg {
          color: #a4a7ab;
        }
      }
    }

    .break__item {
      display: flex;
      align-items: flex-end;
      padding-bottom: 0.5rem;
    }

    .disabled {
      opacity: 0.5;
      cursor: not-allowed;

      svg {
        color: #a4a7ab;
      }
    }
  }
}

.paginationContainer {
  .pageLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--color-white-80);
    text-decoration: none;
  }
}
