.modal__root {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;

  background-color: var(--color-black);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  max-width: 500px;
  width: 100%;
  min-height: 100vh;

  padding: 1rem;

  @media (max-width: 668px) {
    max-width: calc(100% - 2rem);
  }

  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    border-bottom: 1px solid var(--second-color);

    padding: 1.5rem 0;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--color-white);

      @media (max-width: 668px) {
        font-size: 1.5rem;
      }
    }

    .actions__container {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .button__close {
        border-radius: 0.625rem;
        border: 1px solid var(--second-color);
        background-color: var(--color-black-80);

        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem 0.875rem;

        box-shadow: 0 1px 2px 0 rgba(82, 88, 102, 0.06);

        transition: all 0.2s ease;

        &:hover {
          background-color: var(--color-black);
        }

        svg {
          flex-shrink: 0;
        }
      }
    }
  }

  .modal__content {
    padding: 1.5rem 0 1rem 0;

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  .modal__footer {
    padding: 1.5rem 0;
    border-top: 1px solid var(--second-color);

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.75rem;
  }
}
