.budget__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .cards__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @media (max-width: 1068px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 668px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 568px) {
      gap: 1rem;
    }
  }

  .alert__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 1rem;
    border: 1px solid var(--error);
    padding: 1.5rem;

    .alert__header {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      svg {
        flex-shrink: 0;
      }

      strong {
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--error);
      }
    }

    .category {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      margin-top: 1.5rem;

      p {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 1rem;
        font-weight: 400;

        span {
          font-weight: 500;
          color: var(--error);
        }
      }
    }
  }

  .bars__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin-top: 1.5rem;

    padding: 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--second-color);

    .sub__header {
      border-bottom: 1px solid var(--second-color);
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      strong {
        font-size: 1.25rem;
        font-weight: 600;
      }

      .button__manage {
        border-radius: 9999px;
        border: 1px solid var(--second-color);
        background-color: var(--second-color);
        padding: 0.5rem 1rem;

        display: flex;
        align-items: center;
        gap: 0.5rem;

        font-size: 0.875rem;
        font-weight: 500;
        color: var(--color-white);

        transition: all 0.3s ease;

        &:hover {
          background-color: var(--primary-color);
          color: var(--color-black);
        }
      }
    }

    .bar__container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .limit__exceeded {
        background-color: var(--error);
      }

      .bar__info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .period {
          font-size: 0.875rem;
          font-weight: 400;
          color: var(--color-gray-20);
        }

        .limit_percentage__exceeded {
          color: var(--error);
        }
      }
    }
  }
}
