.card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .infos {
    display: flex;
    align-items: center;
    gap: 1rem;

    .badge {
      height: 38px;
      width: 38px;
      flex-shrink: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--color-black-80);
      border-radius: 0.375rem;
    }

    .info__data {
      display: flex;
      flex-direction: column;
      gap: 0.3125rem;

      p {
        font-size: 1rem;
        font-weight: 400;
      }

      span {
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--color-gray-20);
      }
    }
  }

  .entry {
    color: var(--primary-color);
  }

  .cost {
    color: var(--error);
  }
}
