.transactions__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .header__transactions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;

    margin-left: auto;

    .button__add {
      font-size: 0.875rem;
      color: var(--color-black);

      border-radius: 6.25rem;
      padding: 0.5rem 1rem;
      height: max-content;

      svg {
        flex-shrink: 0;
        transform: rotate(-90deg);
      }
    }

    .dropdown__custom {
      max-width: 150px;
    }
  }
}
