.transactions__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .header__transactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: 668px) {
      flex-wrap: wrap;
    }

    .dropdown__custom {
      max-width: 150px;

      @media (max-width: 668px) {
        margin-left: auto;
      }
    }
  }
}
