.dialog {
  max-width: 500px !important;
  width: 100%;
  height: max-content !important;
  min-height: max-content !important;

  padding: 1rem 1.5rem;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 0.75rem;
  background-color: var(--color-black-100);

  @media (max-width: 568px) {
    max-width: calc(100% - 2rem) !important;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .icon {
      color: var(--color-white);
      background-color: var(--primary-color);

      height: 32px;
      width: 32px;
      border-radius: 50%;
      flex-shrink: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 0.25rem;
    }

    strong {
      font-size: 1.25rem;
      font-weight: 700;
      color: var(--color-white);
    }

    p {
      font-size: 1rem;
      font-weight: 400;
      color: var(--color-white-80);
    }

    .button {
      padding: 0.8125rem 1.5rem;
      height: 32px;
      width: max-content;
      margin: 0.5rem 0 0 auto;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 0.875rem;
      font-weight: 400;
      color: var(--color-black);

      border-radius: 0.5rem;
      border: 1px solid var(--primary-color);
      background-color: var(--primary-color);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);

      transition: all 0.2s ease;

      &:hover {
        background-color: var(--primary-color-80);
      }
    }
  }
}
