@mixin dialog__base {
  max-width: 500px !important;
  width: 100%;
  height: max-content !important;
  min-height: max-content !important;

  padding: 1rem 1.5rem;

  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  border-radius: 0.75rem !important;
  background-color: var(--color-black-100);

  @media (max-width: 568px) {
    max-width: calc(100% - 2rem) !important;
  }
}
