.login__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  min-height: 100vh;
  max-width: 100%;

  .login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    min-height: 100vh;

    .login__header {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .login__background {
    background-color: var(--color-black-80);
  }
}
