.dash__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .cards__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @media (max-width: 1068px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 668px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 568px) {
      gap: 1rem;
    }
  }

  .management {
    display: grid;
    grid-template-columns: 2fr minmax(300px, 400px);
    gap: 1.25rem;

    @media (max-width: 1330px) {
      grid-template-columns: 1fr;
    }

    @media (max-width: 568px) {
      margin-top: 0;
      gap: 1rem;
    }

    .charts__container {
      display: grid;
      grid-template-columns: minmax(300px, 1fr) 2fr;
      gap: 1.5rem;

      @media (max-width: 868px) {
        grid-template-columns: 1fr;
      }

      @media (max-width: 568px) {
        gap: 1rem;
      }
    }
  }
}
