.header__wrapper {
  height: 50px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 2rem;

  position: fixed;
  top: 0;

  background-color: var(--color-black-80);
  border-bottom: 1px solid var(--second-color);

  .btn__logout {
    margin-left: auto;
    padding: 0.375rem 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    border-radius: 0.375rem;
    background-color: transparent;
    border: none;

    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-white);

    transition: all 0.3s ease;

    svg {
      flex-shrink: 0;
    }

    &:hover {
      background-color: var(--second-color);
    }
  }
}
