.header__wrapper {
  height: 50px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 2rem;

  position: fixed;
  top: 0;

  background-color: var(--color-black);

  a {
    margin-left: auto;
  }
}
