.container__input {
  width: 100%;
  max-width: 600px;
  position: relative;

  .icon {
    position: absolute;
    top: 50%;
    left: 0.625rem;
    transform: translateY(-50%);
  }

  .input__field {
    border-radius: 0.5rem;
    border: 1px solid var(--second-color);
    background-color: var(--color-black-100);

    height: 40px;
    width: 100%;

    padding: 0.6875rem 1rem;
    padding-inline-start: 2.8125rem;

    font-size: 0.875rem;
    font-weight: 400;
    color: var(--color-white);
    outline: none;

    transition: border-color 0.2s ease;

    &::placeholder {
      color: var(--color-gray-40);
    }

    &:focus-visible {
      border-color: var(--primary-color);
    }
  }
}
