.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background-color: var(--color-black-100);

  max-width: 180px;
  width: 180px;
  min-height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  padding: 1rem 0.75rem;

  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;

  transition: width 0.3s ease;

  @media (max-width: 968px) {
    max-width: 150px;
    width: 150px;
  }

  @media (max-width: 568px) {
    max-width: 60px;
    width: 60px;
    padding: 1rem 0.5rem;

    min-height: 100dvh;

    .logo {
      display: none;
    }

    .nav__text {
      display: none;
    }

    .sidebar__header {
      padding-left: 0 !important;
      text-align: center !important;
    }

    .sidebar__items,
    .sidebar__logout {
      align-items: center;
    }

    .nav__item,
    .button__logout {
      justify-content: center;
      padding: 0.5rem;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  .sidebar__header {
    border-bottom: 1px solid var(--second-color);
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-top: 1.5rem;

    display: flex;
    flex-direction: column !important;
    gap: 0.25rem;

    img {
      @media (max-width: 568px) {
        margin: 0 auto;
      }
    }

    .logo {
      font-size: 1rem;
      font-weight: 600;
    }

    small {
      font-size: 0.75rem;
      font-weight: 400;
      color: var(--color-gray-20);
    }
  }

  .sidebar__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    flex: 1;

    .nav__item_wrapper {
      position: relative;
    }

    .nav__item {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      font-size: 0.875rem;
      font-weight: 400;

      border-radius: 1.25rem;
      padding: 0.375rem 0.75rem;

      transition: all 0.3s ease;

      &:hover {
        background-color: var(--second-color);
      }

      &.active {
        color: var(--primary-color);
      }

      svg {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }
    }
  }

  .sidebar__logout {
    margin-top: auto;
    margin-bottom: 1rem;

    .button__logout {
      width: 100%;
      background-color: transparent;
      border: none;
      border-radius: 1.25rem;
      padding: 0.375rem 0.75rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      color: var(--color-white);

      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: var(--second-color);
      }

      @media (max-width: 568px) {
        gap: 0;
        border-radius: 50%;
        width: unset;
      }

      span {
        font-size: 0.875rem;
        font-weight: 400;

        @media (max-width: 568px) {
          display: none;
        }
      }

      svg {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }
    }
  }

  .tooltip {
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--color-black-100);
    border: 1px solid var(--second-color);
    color: var(--color-white);
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
    font-size: 0.75rem;
    white-space: nowrap;
    z-index: 1000;

    @media (min-width: 569px) {
      display: none;
    }
  }
}
