.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background-color: var(--color-black-80);

  max-width: 150px;
  width: 150px;
  min-height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  padding: 1rem 0.75rem;

  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;

  .sidebar__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    .nav__item {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      font-size: 0.875rem;
      font-weight: 400;

      border-radius: 1.25rem;
      padding: 0.375rem 0.75rem;

      transition: all 0.3s ease;

      &:hover {
        background-color: var(--second-color);
      }

      &.active {
        color: var(--primary-color);
      }

      svg {
        width: 20px;
        height: 20px;

        flex-shrink: 0;
      }
    }
  }
}
