.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background-color: var(--color-black-100);

  max-width: 180px;
  width: 180px;
  min-height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  padding: 1rem 0.75rem;

  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;

  @media (max-width: 968px) {
    max-width: 150px;
    width: 150px;
  }

  .sidebar__header {
    border-bottom: 1px solid var(--second-color);
    padding-bottom: 1rem;
    padding-left: 1rem;
    margin-top: 1.5rem;
  }

  .sidebar__items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    flex: 1;

    .nav__item {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      font-size: 0.875rem;
      font-weight: 400;

      border-radius: 1.25rem;
      padding: 0.375rem 0.75rem;

      transition: all 0.3s ease;

      &:hover {
        background-color: var(--second-color);
      }

      &.active {
        color: var(--primary-color);
      }

      svg {
        width: 20px;
        height: 20px;

        flex-shrink: 0;
      }
    }
  }

  .sidebar__logout {
    margin-top: auto;
    margin-bottom: 1rem;

    .button__logout {
      width: 100%;

      background-color: transparent;
      border: none;
      border-radius: 1.25rem;
      padding: 0.375rem 0.75rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      font-size: 0.875rem;
      font-weight: 400;
      color: var(--color-white);

      transition: all 0.3s ease;

      &:hover {
        background-color: var(--second-color);
      }

      svg {
        width: 20px;
        height: 20px;

        flex-shrink: 0;
      }
    }
  }
}
