.page__container {
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  min-height: 100vh;

  @media (min-width: 1366px) {
    padding: 1.5rem 1rem;
  }

  .page__header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;

    @media (max-width: 568px) {
      flex-wrap: wrap;
    }
  }

  .page__header__content {
    max-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .page__title {
    font-size: 2rem;
    font-weight: 700;
  }

  .page__description {
    font-size: 1rem;
    font-weight: 400;
  }

  .page__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .page__content {
  }
}
