.account__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  .card__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    border-radius: 12px;
    border: 1px solid var(--second-color);
    padding: 1.5rem;

    .card__header {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      strong {
        font-size: 1.25rem;
        font-weight: 700;
      }
    }
  }
}
