.modal__root {
  height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    max-height: 90vh;
    height: 100%;

    .modal__content {
      flex: 1;

      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      overflow-y: auto;
    }

    .modal__footer {
      margin-top: auto;

      button {
        width: 100%;
      }
    }
  }
}
