.card__container {
  padding: 1.5rem;
  border: 1px solid var(--second-color);
  border-radius: 1.25rem;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  .text__container {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .icon__container {
      height: 36px;
      width: 36px;

      flex-shrink: 0;
      border-radius: 0.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      font-size: 0.875rem;
      font-weight: 600;
      color: var(--color-gray-20);
    }
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
