.modal__root__custom {
  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    min-height: calc(90vh - 2rem);

    .form__inputs {
      flex: 1;

      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .footer__form {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;

      margin-top: auto;

      button {
        width: 100%;
      }
    }
  }
}
