.modal__root__custom {
  padding: 0 2rem !important;

  @media (max-width: 568px) {
    min-height: 100dvh !important;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;

    .form__inputs {
      flex: 1;

      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      height: 100%;

      // @media (max-width: 1366px) {
      //   max-height: 400px;
      //   overflow-y: auto;

      //   &::-webkit-scrollbar {
      //     display: none;
      //   }
      // }
    }

    .footer__form {
      display: flex;
      align-items: center;
      gap: 1rem;

      padding-bottom: 1rem;

      position: absolute;
      bottom: 1rem;
      left: 2rem;
      right: 2rem;

      button {
        width: 100%;
      }
    }
  }
}
